[package]
name = "hierarchical_pathfinding"
version = "0.1.1"
authors = ["mich101mich <mich101mich@gmail.com>"]
edition = "2018"
description = "A crate to quickly approximate Paths on a Grid."
repository = "https://github.com/mich101mich/hierarchical_pathfinding"
readme = "readme.md"
license = "MIT"
keywords = ["pathfinding", "dijkstra", "a-star", "grid"]
categories = ["algorithms"]
exclude = ["/.circleci/*", "/.travis.yml", "/.vscode/*", "todo.md", ".gitignore"]

[badges]
travis-ci = { repository = "mich101mich/hierarchical_pathfinding" }
circle-ci = { repository = "mich101mich/hierarchical_pathfinding" }

[dependencies]
